<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>page1.html</title>
<script type="text/javascript">
window.onload = function(){
	document.querySelector("#btnOk").onclick = function(){
		frm.submit();
	}
}
</script>
</head>
<body>
<table>
	<tr>
		<td><img src="/static/images/pic2.jpeg" style="width:30%" /></td>
		<td>
		<pre>
		상품명 : 크록스
		가격 : 28,000
		특징 : 푹신하고 시원함
		</pre>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<form action="cart" name="frm" method="post">{% csrf_token%}
				<input type="hidden" name="name" value="크록스"/>
				<input type="hidden" name="price" value="28000"/>
				<input type="button" id="btnOk" value="장바구니에 담기" />
				<input type="button" value="홈페이지로" onclick="history.back()" />				
			</form>
		
		</td>
	</tr>
</table>
</body>
</html>